* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #13161f;
  color: #ffffffec;
  line-height: 1.4;
}

#root {
  width: 100%;
}

.main-content {
  padding-top: 60px;
  min-height: 100vh;
}